* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 20%);
  height: 100vh;
  display: block !important;
  width: 320px ;
  transition: all 0.1s ease-in-out;
}
.logo {
  height: 65px;
  padding: 20px 10px 20px 20px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo i {
  color: blue;
  font-size: 26px;
}
.navbar-list {
  list-style: none;
}
.navbar-item {
  box-sizing: border-box;
  align-items: center;
}
.navbar-item .align-items-navbar {
  text-decoration: none;
  padding: 12px 10px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.navbar-item .navbar-content {
  color: #313752;
  padding-right: 40px;
  transition: all 0.5s linear;
}
.navbar-item {
  transition: background-color 0.5s linear;
}

.navbar-icon {
  color: #c4cff9;
  width: 40px;
  margin-top: 3px;
  text-align: center;
}
.navbar-item:hover {
  cursor: pointer;
  background-color: #f6f7fd;
}
.navbar-item:hover .navbar-content {
  color: blue;
}
.navbar-item:hover .navbar-icon {
  color: blue;
}
.align-items-navbar {
  position: relative;
}

.navbar-icon-active {
  background-color: transparent;
}
.active_navbar {
  transform: translateX(-100%);
  display: none;
}
.navbar {
  transition: width linear 0.35s;
}
.navbar-active{
  width: 60px;
  transition: width 0.35s linear;
}
/* .navbar-active:hover{
  width: 100%;
}
.navbar-active:hover .active_navbar {
  display: block;
  transform: translateX(0%);
} */
